[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "*"
django-taggit = "*"
psycopg2 = "*"
django-extensions = "*"
django-heroku = "*"
gunicorn = "*"
requests = "*"

[requires]
python_version = "3.9"
