
{% extends 'catalog/base.html' %}

{% block title %}Mentions légales{% endblock %}

{% block content %}
<div class="container-fluid py-5 px-0 legal-mentions-container">
    <div class="legal-mentions-header">
        <h2>Mentions légales</h2>
        <p>Ce site a été développé et déployé par Florian Delage dans le cadre du Projet 8 de la formation "Développeur d'applications Python" d'OpenClassrooms, et selon les critères établis dans la <a href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide" target="_blank">charte graphique</a>.</p>
    </div>
    <div class="legal-mentions-section">
        <h3>Crédit photos:</h3>
        <p>Photo de page d'accueil par Greg Jeanneau via <a href="https://unsplash.com/photos/YTbFHT9_IhY" target="_blank">unsplash.com</a>.</p>
    </div>
    <div class="legal-mentions-section">
        <h3>Copyright:</h3>
        <p>Toutes les images de Colette et Rémy sont tirées du film d'Animation <em>Ratatouille</em>, sont la propriété de <em>Walt Disney Company</em> et sont soumis aux droits d'auteur.</p>
    </div>
    <div class="legal-mentions-section">
        <h3>Thème:</h3>
        <p>Le thème du site est basé sur un template Bootstrap disponible sur <a href="https://startbootstrap.com/theme/creative" target="_blank">startbootstrap.com</a>.</p>
    </div>
    <div class="legal-mentions-section">
        <h3>Icônes:</h3>
        <p>Toutes les icônes (connexion, déconnexion, favoris, profil, substitution, sauvegarde, suppression) <a href="https://fontawesome.com/v4.7.0/icons/" target="_blank">fontawesome.com</a>.</p>
    </div>
</div>

{% endblock content %}