
{% extends 'accounts/base.html' %}

{% block title %}Produits{% endblock %}

{% block content %}
<div class="searchpage-container">
    <div class="cards-product">
        {% for product in products %}
        <a href="{% url 'product_detail' product.pk %}" class="card-link">
            <div class="card-product">
                <h1 class="card-product-name">{{ product.name }}</h1>
                <img src={{ product.picture }} alt="food picture">
                <h2 class="card-product-nutriscore">{{ product.nutriscore }}</h2>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
